.Nav-Style{height: 100px;
/* background-color: #394D6B; */
/* background-image: url('../assets/Background.jpeg'); */
color: white;
opacity: .75;
font-size: 30px;
padding-top: 30px;
display: flex;
flex-direction: row;
font-family: "Courier New", Courier, monospace;
font-size: 29px;
letter-spacing: 2.2px;
word-spacing: 2.4px;
/* margin-bottom: .25em; */
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.ulRow{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    margin-right: 10px;
    margin-left: 10px;
}

.headerName{
    display:flex;
    justify-content: flex-start;
    padding-right: 900px;
}